body, html {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f8f9fa;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    margin: 0; /* hilangkan jarak luar */
    background: white;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.container-fluid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    padding: 0 15px;
    display: flex;
    align-items: center;
    height: 60px;
}

.main-layout {
    display: flex;
    min-height: 488px;
}

.menu {
    background: #fff;
    width: 250px;
    min-height: 100vh;
    border-right: 1px solid #dee2e6;
}

.menu a {
    color: #1e1e1e;
    text-decoration: none;
    padding: 10px;
    display: block;
    transition: background 0.2s ease;
    margin-bottom: auto;
    border-radius: 6px;
    align-items: center;
}

.menu a:hover {
    background: #f1f1f1;
}

.content {
    flex: 1;
    padding: 20px;
    background: #fdfdfd;
}

.footer {
    background: #212529;
    color: white;
    font-size: 14px;
    margin-top: auto;
}

/* Animasi fade-in */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.btn-tambah {
    background: #2ecc71; /* hijau */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background 0.3s, transform 0.2s;
}

.btn-tambah:hover {
    background: #27ae60; /* hijau lebih gelap */
    transform: scale(1.05); /* membesar sedikit saat hover */
}

.menu a.active {
    background: rgba(255, 255, 255, 0.3); /* warna sorotan */
    border-left: 4px solid #fff;          /* garis di kiri untuk penanda */
    font-weight: bold;
}

.logo {
    height: 45px;
}

.judul h1 {
    margin: 0;
    font-size: 1.5em;
}

.judul p {
    margin: 0;
    font-size: 1em;
}

.profile-section img {
   border: 3px solid #0d6efd;
   object-fit: cover;
}

.profile-section button {
    margin-top: 10px;
    border-radius: 20px;
}

.profile-btn:hover {
    background-color: #3498db;
    color: white;
}
